In [1]:
import pandas as pd

from time import time
from sqlalchemy import create_engine

    Creating a pandas iterator to read the csv by small chunks

In [73]:
df_itr = pd.read_csv("./yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [ ]:
#   First Chunk
df = next(df_itr)

In [75]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

    Establishing connection with the postgres database

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

    Pusing the first col to db to generate the schema

In [77]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

    Appending the first chunk that is loaded into the iterator

In [78]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

Now inserting the rest of data to DB

In [ ]:
while True: 

    try:
        t_start = time()
        
        df = next(df_itr)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')


        print(f'inserting a chunk..., took {(time() - t_start):.3f} seconds')

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

    Ingesting Zone data to db

In [4]:
zone_df = pd.read_csv("taxi+_zone_lookup.csv")
zone_df.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')
zone_df.to_sql(name='zones', con=engine, if_exists='append')

265

In [ ]:
zone_df