In [72]:
import pandas as pd

from time import time
from sqlalchemy import create_engine

    Creating a pandas iterator to read the csv by small chunks

In [73]:
df_itr = pd.read_csv("./yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [ ]:
#   First Chunk
df = next(df_itr)

In [75]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

    Establishing connection with the postgres database

In [76]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

    Pusing the first col to db to generate the schema

In [77]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

    Appending the first chunk that is loaded into the iterator

In [78]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

Now inserting the rest of data to DB

In [79]:
while True: 

    try:
        t_start = time()
        
        df = next(df_itr)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')


        print(f'inserting a chunk..., took {(time() - t_start):.3f} seconds')

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserting a chunk..., took 9.617 seconds
inserting a chunk..., took 9.564 seconds
inserting a chunk..., took 9.235 seconds
inserting a chunk..., took 8.992 seconds
inserting a chunk..., took 9.115 seconds
inserting a chunk..., took 9.367 seconds
inserting a chunk..., took 9.062 seconds
inserting a chunk..., took 9.019 seconds
inserting a chunk..., took 9.160 seconds
inserting a chunk..., took 9.150 seconds
inserting a chunk..., took 9.269 seconds

/tmp/ipykernel_276467/3148191525.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_itr)

inserting a chunk..., took 9.858 seconds
inserting a chunk..., took 6.346 seconds
Finished ingesting data into the postgres database